
  .searchbar {
    margin: 18% 10% 25% 12%;
  }

  .returned {
    color: #616566;
    float:left;
    text-align:center;
    padding-top: 55px;
    padding-left: 10px;
    margin: 5px;
    border-radius: 25px;
    position:static;
  }

  .imgresult {
    border-radius: 10px;
    width: 450px;
    height: 260px;
  }

  .padded {
    padding-top: 9%;
  }

  .entry {
    position:fixed;

  }

  .compare {
    position: fixed;
    margin-left: 45%;
  }
  .pay {
    position: fixed;
    margin-left: 45%;
  }
  .form-control {
    margin-top: 7% !important;
  }
  .btn-info{
    margin-top: 7% !important;

  }


  .s1 {
    height: 210px;
    width: 290px;
    float:left;
    padding: 10px;
    background: #acdde3;
    border-radius: 25px;
    margin: 0px 25px 50px -20px;
  }

  .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }



  @media (max-width:1100px) {
    .btn-info{
      margin-top: 8% !important;
      margin-left: 2%;

    }
    .s1 {
      height: 165px;
      width: 200px;
      margin-top: 10%;
    }
    .form-control {
      margin-top: 8% !important;
    }
    .returned {
      padding-top: 5%;
    }
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 20px;
    }


  }

  @media(max-width:900px) {
    .s1{
      height: 100px;
      width: 120px;
      margin-top: 20%;
    }
    .form-control {
      margin-top: 12% !important;
    }
    .btn-info{
      margin-top: 12% !important;

    }
    .returned {
      padding-top: 8%;
    }
    .popup {
      display:none;
    }
  }



  @media (max-width:767px) {
    .btn-info {
      width: 69%;
      margin-top: 26% !important;
      margin-left: 2%;

    }
    .returned {
      padding-top: 28%;
    }
    .imgresult{
      border-radius: 10px;
      width: 400px;
      height: 220px;
    }
    h2 {
      font-size:18px;
    }
    h3 {
      font-size:14px;
    }
    .form-control {
      margin-top: 20% !important;
    }

    .s1 {
      display:none;
    }

  }

  @media (max-height:650px) {
    .imgresult{
      border-radius: 10px;
      width: 300px;
      height: 180px;
    }

  }

  @media (max-width:580px) {
    .btn-info{
      width: 69%;
      margin-top: 33% !important;
    }
    .form-control {
      margin-top: 26% !important;
    }
    .returned {
      padding-top: 32%;
    }

  }
